{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="post" >

    <img src="/images/logo.svg" height="42" />

    {% include "_partials/flash.njk" %}

    <input type="email" name="email" placeholder="Your e-mail" />
    <input type="password" name="password" placeholder="Your password" />

    <button type="submit">Login</button>

    <a href="/signup">Create an account free</a>
  </form>

{% endblock %}
