{% extends "_layouts/default.njk" %}

{% block body %}
<div class="content">
  <strong>Hi, {{user.name}}</strong>
  <p> Please, book with us choosing one of ours professionals:</p>
  <ul class="providers">
    {% for provider in providers %}
      <li class="provider">
        <div>
          <img src="/files/{{ provider.avatar }}" />
          <strong>{{ provider.name }}</strong>
        </div>
        <a href="/app/appointments/new/{{ provider.id }}">+</a>
      </li>
    {% endfor %}
  </ul>
  <a href="/app/logout" class="logout">Log out</a>
</div>
{% endblock %}
